body{
  font-family: Arial;
  background:#f4f4f4;
  text-align:center;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:30px;
}

.card{
  background:white;
  width:200px;
  margin:15px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
  cursor:pointer;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
  background:#e3f2fd;
}
